/* Write your CSS here */

.bg-container {
  height: 100vh;
  width: auto;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 50vh;
  width: 30vw;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
